<div class="innerDiv">
<br />
<strong><%= page.title %></strong>
</div>
<div>
	<div class = "carouselWrapper">
		<div class="horizontal chapterList carousel-demo1">
			<% @chapters = page.chapters%>
				<%= render partial: "chapter", collection: @chapters %>
		</div>
	</div>
</div>