<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>First Year Experience</h1>
		<div class="outerDiv">
			<div class="pages">
				<%= render partial: "page", collection: @pages %>
			</div>
		</div>
	</body>
</html>

