@import "bootstrap";
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.pages {
	display: block;
}
.horizontal {
	display: block;
}

.chapterListWrapper {
	overflow: hidden;
	height: 75;
	width: 195;
}

.chapterList {
	overflow: hidden;
    height: 80px;
	width: 200;
    white-space:nowrap;
    display: inline-block;
	list-style-type: none;
}

.chapterDiv {
	z-index:-1;
	display: inline-block;
	margin-left: 10px;
	width: 350px; 
    height: 120px;
	overflow: hidden;

}

.chapterDiv .scrollBullets {
	z-index:1001;
	width: 350px; 
    height: 120px;
	visibility: hidden;
	overflow: hidden;

}

.carousel-demo1 {
	width: 100%;
	float:left;
}

.chapterDiv:hover .scrollBullets {
	overflow: hidden;
	visibility: visible;
	z-index:1001;
	height: 200px;
	width: 350px;
	padding: 5px; margin: 5px;
   color: black; background: grayLight;
   font: 12px Verdana, sans-serif;
}
   






