@import "bootstrap";
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.pages {
	display: block;
}
.horizontal {
	display: block;
}
.chapterList {

	overflow: hidden;
    height: 80px;
    white-space:nowrap;
    display: inline-block;
	list-style-type: none;
}

.chapterDiv {
	z-index:-1;
	display: inline-block;
	margin-left: 10px;
	width: 350px; 
    height: 250px;
	overflow: hidden;
}

.chapterDiv .scrollBullets {
	z-index:1001;
	visibility: hidden;
	overflow: hidden;
}

.chapterDiv:hover .scrollBullets {
	overflow: hidden;
	visibility: visible;
	z-index:1001;
	padding: 5px; margin: 5px;
   color: #AAA; background: black;
   font: 12px Verdana, sans-serif;
}
   






